
<script language="JavaScript" type="text/javascript" src="static/js/jquery-1.9.0.js"></script>
<head>
    <link rel="stylesheet" href= "static/css/main.css">

</head>

<body>


  <h2>How to use this GUI</h2>

<ol>
  <li style="margin-bottom: 10px;" >You must update the SW Login credentials on the "SW Login" page, as they will be used to access all switches. Ensure that the same user/password exists on each switch..</li>
  <li style="margin-bottom: 10px;">This webpage is using API call to get/set config on the switches - https (443) port should be allowd between the server and the switches.</li>
  <li style="margin-bottom: 10px;">Add new switch under the "Add SW" page, Another option is to edit the "switches.yaml" with the relevant hostname/IP.</li>
  <li style="margin-bottom: 10px;">You can set new config for any port on the "SW List" page by changing the config, checking the update button, and clicking update</li>
</ol>  
 


</body>
<footer style="margin-bottom: 3em">
  <p style="margin-bottom: 3em;    position: fixed;">Author: Yonatan Porat (This WEB GUI is NOT officially supported by Arista)<br>
  <a href="mailto:yoni@arista.com">yoni@arista.com</a></p>
</footer>
